<h1>
  INSPIRATIONAL QUOTES
</h1>
<div class="container">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <div *ngFor='let quote of quotes;let i = index'>
    <div class="row">
      
    </div>

    <h3>{{quote.msg}}.</h3>
    
    <h3>Author: </h3>
    <em>{{quote.author}}</em>
    <br>
    <h3>Person who submitted :</h3>
    <em>{{quote.person}}</em>
    

    <p>This quote was created :
      <u>{{quote.completeDate|quoteDuration}}</u> days ago</p>
      
      <div class="row">
          <div id="buttons">
            <button (click)='upvote(i)' class="btn btn-primary"><i class="fa fa-thumbs-o-up"></i>Upvote {{quote.upvotes}}</button>&nbsp;&nbsp; <button (click)='downvote(i)' class="btn btn-danger"><i class="fa fa-thumbs-o-down"></i>Downvote {{quote.downvotes}}</button>&nbsp;&nbsp;
          </div>
    <app-quote-details></app-quote-details>
    <hr>

    <app-quote-details *ngIf='quote.showAuthor' [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-details>

  </div>
</div>